@{
    ViewData["Title"] = "Admin Panel";
}

<style>
    .manage-panel{
        margin-top: 125px;
    }
    
    .admin-button{
        width: 400px;
        font-size: 25pt;
        border: 2px solid gray;
    }
    
    .admin-button:hover{
        background-color: white;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Admin Panel</h1>
    
    <div class="manage-panel">
        <a class="nav-link text-dark" asp-area="" asp-controller="Country" asp-action="Index">
            <button class="admin-button">Manage countries</button>
        </a>
    
            
    
        <a class="nav-link text-dark" asp-area="" asp-controller="Team" asp-action="Index">
            <button class="admin-button">Manage teams</button>
        </a>
    
            
    
        <a class="nav-link text-dark" asp-area="" asp-controller="Nickname" asp-action="Index">
            <button class="admin-button">Manage nicknames</button>
        </a>
    </div>


</div>
